.single-product-page {
  .description-review-topbar.nav a {
    margin: 0px 30px 0px 0px;
    font-size: 14px;
  }
  .description-review-topbar.nav {
    text-align: left;
  }

  .description-review-bottom .product-description-wrapper p,
  .single-review .review-bottom p {
    width: 100%;
  }
}
